<main class="p-4 lg:px-8 space-y-6">
  <.flash_group flash={@flash} />

  <h1>🏗️ Wildfire</h1>

  <p>
    Wildfire collects network performance data to inform decisions for multi-region and peer-to-peer applications.
  </p>

  <h2>🌎🌍🌏 Fly Regions</h2>

  <%!-- <.table
    rows={Wildfire.Fly.Regions.list_regions() |> Enum.sort_by(& &1["Code"])}
    id="fly-regions"
  >
    <:col :let={region} label="Code">
      <%= region["Code"] %>
    </:col>
    <:col :let={region} label="Name">
      <%= region["Name"] %>
    </:col>
    <:col :let={region} label="Latitude">
      <%= region["Latitude"] %>
    </:col>
    <:col :let={region} label="Longitude">
      <%= region["Longitude"] %>
    </:col>
    <:col :let={region} label="Requires Paid Plan">
      <.icon :if={region["RequiresPaidPlan"]} name="hero-check-circle-solid" class="bg-green-500" />
    </:col>
    <:col :let={region} label="Gateway Available">
      <.icon :if={region["GatewayAvailable"]} name="hero-check-circle-solid" class="bg-green-500" />
    </:col>
  </.table> --%>
</main>
